:root {
  --white: hsl(0, 0%, 100%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);
  --dark-blue--body: hsl(218, 28%, 13%);
  --dark-blue--testimonials: hsl(219, 30%, 18%);
  --dark-blue--footer: hsl(216, 53%, 9%);
  --dark-blue--other: hsl(217, 28%, 15%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  background: var(--dark-blue--body);
  width: 90vw;
  margin: auto;
}

header,
header nav,
input,
textarea,
button {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  align-items: center;
  height: 15vh;
}

.logo {
  flex: 3;
}

nav {
  flex: 1;
}

nav .nav-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

nav a {
  color: var(--white);
  text-decoration: none;
}

.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  height: 85vh;
}

.first-section img {
  width: 45rem;
  margin-bottom: 35px;
}

.first-section h1 {
  font-size: 2.5rem;
  text-align: center;
  width: 40%;
  margin-bottom: 20px;
}

.first-section p {
  font-size: 1.6rem;
  text-align: center;
  width: 35%;
  margin-bottom: 20px;
}

.first-section button {
  width: 20rem;
  height: 4rem;
  color: var(--white);
  background: var(--blue);
  border: none;
  border-radius: 5rem;
}

.second-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.second-section .card {
  width: 50rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.second-section .card .card-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2.5rem;
}

.second-section .card .card-icon img {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
}

.second-section .card .card-description {
  text-align: center;
  width: 76%;
}

.second-section .card .card-description h1 {
  margin-bottom: 1rem;
}

.second-section .card .card-description p {
  font-size: 1.4rem;
}

.third-section {
  width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-section .cover {
  flex: 1;
}

.third-section .cover img {
  width: 70rem;
  height: 40rem;
}

.third-section .text {
  flex: 1;
  color: var(--white);
}

.third-section .text h1 {
  font-size: 4rem;
  width: 60%;
}

.third-section .text h1,
.third-section .text p {
  margin-bottom: 2rem;
}

.third-section .link {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--cyan);
}

.third-section .link p {
  margin: 0 0.7rem 0.7rem 0;
  color: var(--cyan);
  cursor: pointer;
}
